@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #22212C;
    --background-color-section: #302F3D;
    --text-color: #837E9F;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

aside section {
    min-width: 360px;
    background-color: var(--background-color-section);
    padding: 30px;
    border-radius: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile p {
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact div {
    display: flex;
    align-items: center;
    gap: 10px;
}


.skills {
    display: flex;
    gap: 10px;
}

.skill {
    background-color: #CB92B1;
    color: #000000;
    flex: 1;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
}

main {
    width: 65%;
    padding-left: 30px;
}


main h1{
    font-size: 30px;
}

.my-projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.my-projects article {
    background-color: var(--background-color-section);
    border-radius: 20px;
    width: 100%;
    min-width: 360px;
}

@media(max-width: 1045px) {
    main {
        width: 100%;
        margin-top: 30px;
        padding-right: 30px;
    }

    aside {
        width: 100%;
    }

    aside section{
        width: 50%;
        margin: 0 auto;
        max-width: 484px;
    }

    main h1 {
        text-align: center;
    }

}

.my-projects article img {
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    float: left;
    margin-right: 20px;
}

.my-projects article div {
    margin-top: 54px;
}

@media(max-width: 434px) {
    .my-projects article img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .my-projects article {
        padding-bottom: 30px;
        text-align: center;
        width: 360px;
        margin: 0 auto;
    }

    main {
        padding: 0;
    }

}

.my-projects article div p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: var(--text-color);
    transition: 0.3s;
}

a:hover {
    color: #555266;
}
